/*
<body>
<body>
    <nav class="nav">
        <!--logo-->
        <div class="logo">
            <a href="index.html">
                <img src="Assets/img/logo.png" alt="Logo da Pizzaria">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="cardapio.html">Cardápio</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </div>
        <div class="menu2">
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
            </ul>

        </div>
    </nav>
</body>
*/

@import url(/Assets/Css/root.css);

body{
    margin: 0;
    padding: 0;
}


.logo img{
    display: flex;
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-color);
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li a {
    font-weight: 550;
    text-decoration: none;
    color: var(--text2-color);
    padding: 10px 15px;
    display: block;
}

